; Duo configuration file
[duo_app_settings]
IKEY = ""
SKEY = ""
HOST = ""
AKEY = "8749032634b9c0ee14fa785c3e59b424a13d2073"

; Uncomment any custom settings you desire (see README)
[custom_settings]
;LDAP_BYPASS = TRUE
;IP_BYPASS[] = "192.168.1.1"
;IP_BYPASS[] = "10.0.0.1"
